@font-face {
  font-family: 'PTN57';
  src: url('fonts/PTN57.eot?') format('eot'), url('fonts/PTN57.woff') format('woff'), url('fonts/PTN57.ttf') format('truetype');
}

@font-face {
  font-family: 'PTN77';
  src: url('fonts/PTN77.eot?') format('eot'), url('fonts/PTN77.woff') format('woff'), url('fonts/PTN77.ttf') format('truetype');
}

@font-face {
  font-family: 'PTS55';
  src: url('fonts/PTS55.eot?') format('eot'), url('fonts/PTS55.woff') format('woff'), url('fonts/PTS55.ttf') format('truetype');
}

@font-face {
  font-family: 'PTS75';
  src: url('fonts/PTS75.eot?') format('eot'), url('fonts/PTS75.woff') format('woff'), url('fonts/PTS75.ttf') format('truetype');
}

* { margin:0; padding: 0; }

body
{
	background:#222;
}

body.locked
{
	overflow:hidden;
}

a:active
{
	background-color:transparent;
}

#top
{
	position:absolute;
	top:0;
	left:0;
}

#menu
{
	width:100%;
	text-align:center;
	background:#fff;
	box-shadow:0 3px 4px rgba(0,0,0,0.25);
	position:fixed;
	top:0;
	left:0;
	z-index:2;
	border-bottom:5px solid #e5e5e5;
}

#menu ul
{
	position:relative;
	display:inline-block;
	list-style:none;
	padding:25px 0 15px;
}

#menu li
{
	display:inline-block;
	margin-left:50px;
}

#menu li a
{
	text-decoration:none;
	color:#999;
	font-size:16px;
	font-family:PTN77;
	height:40px;
	display:inline-block;
	line-height:40px;
	text-transform:uppercase;
}

#menu li a:hover
{
	color:#ccc;
}

#menu li a#title
{
	background: transparent url(tgw-type.png) 0 0 no-repeat;
	text-indent:-9999px;
	width:130px;
}

#menu li a#title:hover
{
	background-position:0 -40px;
}

#icon
{
	background: transparent url(tgw.png) 0 0 no-repeat;
	display:block;
	height:150px;
	width:140px;
	position:absolute;
	top:-5px;
	left:-100px;
}

#art
{
	height:480px;
	width:100%;
	background:#e5e5e5 url(art.jpg) center center no-repeat;
	background-size:cover;
	position:fixed;
	top:85px;
	z-index:-1;
}

#page
{
	margin-top:565px;
	background:#fafafa;
	box-shadow:0 -3px 4px rgba(0,0,0,0.25);
	border-bottom:20px solid #666;
	padding:40px 0 120px;
	border-top:10px solid #ccc;
}


#page > div
{
	max-width:800px;
	width:90%;
	margin:0 auto;
	padding:40px 0;
}

#logo
{
	height:340px;
	width:360px;
	background:transparent url(tgw-hi.png) 0 -25px no-repeat;
	float:right;
}

h1
{
	font-family: ptn57;
	font-size: 48px;
	color: #fff;
	font-weight: normal;
	text-shadow: 1px 1px 1px #000;
	line-height: 42px;
	margin: 300px auto 0;
	max-width: 800px;
	width: 90%;
	text-align: right;
}

h1 span
{
	font-size:24px;
	display:block;
}

h2
{
	font-family: pts55;
	font-weight: normal;
	font-size: 38px;
	color: #d86160;
	margin-bottom: 40px;
}

p
{
	font-size:24px;
	line-height:36px;
	margin-bottom:40px;
	font-family:times;
}

p.lead
{
	font-style:italic;
}

#gallery
{
	position:relative;
}

#gallery img
{
	display:none;
}

div.frame
{
	width:110px;
	height:110px;
	display:inline-block;
	margin:5px 10px 5px 0;
	background:#aaa;
	cursor:pointer;
	background:transparent none center center no-repeat;
	background-size:cover;
	border:5px solid #ccc;
}

div.frame:hover
{
	opacity:0.8;
}

div.view
{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-size:auto;
	z-index:1;
	border:none;
}

div.view:hover
{
	opacity:1;
}

#viewer
{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.75;
	display:none;
}

span.email
{
	color:#d86160;
}

span.email span
{
	display:none;
}